<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <title>Chat App</title>
     <link rel="stylesheet" type="text/css" href="css/login.css">
     <link href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body>
     <div class="container">
          <div class="left-section"></div>
          <div class="right-section">
               <div class="login-container">
                    <form class="login-form" method="post" action="/option">
                         <h2 class="login-title"><i class="fas fa-user-circle"></i> Login</h2>
                         <div class="form-control">
                              <i class="fas fa-user icon"></i>
                              <input name="userName" type="text" placeholder="Username" id="username" required>
                         </div>
                         <div class="form-control">
                              <i class="fas fa-envelope icon"></i>
                              <input name="email" type="email" placeholder="Email" id="password">
                         </div>
                         <button type="submit">Login</button>
                    </form>
               </div>
          </div>
     </div>

</html>